/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align:left;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #7a88cc 0%, #342b47 100%);
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroContent {
  max-width: 500px;
  margin: 0 auto;
  margin-left:60px ;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.bookPreview {
  background-color: rgb(83, 83, 143);
}

@media screen and (max-width: 996px) {
  .buttons {
    flex-direction: column;
  }

  .buttons a {
    margin-bottom: 1rem;
  }
}
